:root {
  --primary-text-color: hsl(237, 12%, 33%);
  --secondary-text-color: hsl(240, 6%, 50%);
  --divider-color: hsl(240, 5%, 91%);
  --gradient-violet: hsl(273, 75%, 66%);
  --gradient-blue: hsl(240, 73%, 65%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

ul {
  list-style-type: none;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, var(--gradient-violet), var(--gradient-blue));
  background-repeat: no-repeat;
}

section {
  background: #fff;
  padding-inline: 1em;
  padding-top: 8em;
  padding-bottom: 2em;
  padding-inline: 2em;
  width: 90%;
  margin-inline: auto;
  margin-top: 36%;

  border-radius: 2em;
  /* position: relative; */
}

/* .card-image {
  position: relative;
} */

.card-image picture {
  position: absolute;
  width: 65%;
  left: 50%;
  transform: translateX(-50%);
}

picture.pattern {
  top: 17%;
}

picture.woman {
  top: 3%;
}

.card-title {
  text-align: center;
  font-size: 2rem;
}

/* temp start */

.faqs {
  margin-top: 2em;
}

/* temp end */

.faqs li {
  margin-bottom: 1em;
  cursor: pointer;
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--divider-color);
}

.faq-title {
  color: var(--primary-text-color);
  position: relative;
  padding-right: 2em;
}

.faq-title::after {
  content: "";
  width: 0.85rem;
  height: 0.85rem;
  background-image: url("./images/icon-arrow-down.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  transition: transform ease-in 0.2s;
}

.faq-content {
  color: var(--secondary-text-color);
  font-size: 0.89rem;
  margin-top: 0.5em;
  display: none;
}

li[active] .faq-title::after {
  transform: rotate(180deg);
}

li[active] .faq-content {
  display: block;
  animation: fade-in 0.2s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.card-image picture img {
  max-width: 100%;
  max-height: 300px;

}